@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  /* background-color: rgb(245, 243, 255); */
  overflow: hidden;
}

.contain {
  animation: bounce;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out; 
  /* opacity: 100%; */
}

.desk {
  animation: bounce;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out; 
  opacity: 100%;
}
.random {
  animation: bounce;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out; 
  opacity: 100%;
}

.res-open {
  animation: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 20px;
}

@keyframes bounce {
  0% {
    opacity: 100%;
    scale: 0%;
  }
  40% {
    scale: 120%;
  }
  60% {
    scale: 85%;
  }
  70% {
    scale: 105%;
  }
  80% {
    scale: 95%;
  }
  90% {
    scale: 100%;
  }
}

@keyframes scale {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}

.hidden {
  animation: scale-down;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

@keyframes scale-down {
  from {
    scale: 100%;
  }
  
  to {
    scale: 0%;
  }
}

.loading {
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

  animation: down;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  
  color: white;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

@keyframes down {
  from {
    transform: translateY(0); 
  }
  to {
    transform: translateY(100%);
    display: none;
  }
}

.dock {
  animation: dock-up;
  animation-duration: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  animation-delay: 2s;
}

@keyframes dock-up {
  from {
    transform: translateY(110%);
  }
  to {
    transform: translateY(0%);
  }
}